<%= form_for(@family, :class => 'form-horizontal') do |f| %>
  <div class="control-group">
    <label class="control-label" for="name">Nombre</label>
    <div class="controls">
      <%= f.text_field :name, :placeholder=>'name' %>
    </div>
    <label class="control-label" for="name">Margen de venta</label>
    <div class="controls">
      <%= f.text_field :profit_margin, :placeholder=>'% margen' %>
    </div>
    <label class="control-label" for="name">Unidades por paquete</label>
    <div class="controls">
      <%= f.text_field :packaging_unit, :placeholder=>'unidades por paquete' %>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <%= link_to 'Volver', @family, :class =>'btn' %>
  </div>
<% end %>
