<%= link_to 'Volver', products_path %>
<legend>Producto: <%= @family.product.name %></legend>

<%= render 'edit' %>
<legend>Colores</legend>
<ul>
	<% @family.colors.each do |color| %>
	  <li>
	    <%= link_to color.name, "/colors/"+color.id.to_s, :class => "" %>
	  </li>
	  <hr/>
	<% end %>
</ul>
<%= link_to 'Nuevo color', "/colors/new/"+@family.id.to_s, :class=> 'btn btn-primary' %>

