<%= form_for(@client) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :town %>
    <%= f.text_field :town %>
  </p>
  <p>
    <%= f.label :ClientGroup %>
    <%= f.select(:ClientGroup_id, @clientGroups.collect {|g| [g.name, g.id]}, :prompt => 'Select a group') %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
